{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
        <img class="me-3" src="/static/images/chat.svg" alt="" width="48" height="38">

        <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">Comments</h1>
            <small>Since 2020</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">data_id: </h6>
        {% for t in tComment %}
        <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff"
                    dy=".3em">32x32</text>
            </svg>

            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">comment_id: {{ t[0] }}</strong>                   
                </div>
                <span class="d-block">author_id: {{t[1]}}</span>
                <span class="d-block">data_id: {{t[2]}}</span>
                <span class="d-block">created_date: {{t[3]}}</span>
                <span class="d-block">body: {{t[4]}}</span>
                {% if t[1] == session['user_id'] %}
                <span class="d-block">
                    <a href="#"><i class="bi bi-pencil"></i></a>
                </span>
                <span class="d-block">
                    <a href="/deleteComment/{{t[0]}}/{{t[2]}}"><i class="bi bi-trash"></i></a>
                </span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div>

        <form action="/addComment/{{data_id}}" method="POST" class="was-validated">
            {% if session['user_id'] %}
            <div class="mb-3">
                <label for="validationTextarea" class="form-label">Write your comment</label>
                <textarea class="form-control is-invalid" id="validationTextarea" name="comment_body"
                    placeholder="Required" required></textarea>
                <div class="invalid-feedback">
                    Please enter a message in the textarea.
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
            {% else %}
            <div class="mb-3">
                <label for="validationTextarea" class="form-label">Write your comment</label>
                <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Comment after login"
                    readonly></textarea>
            </div>
            {% endif %}
        </form>
    </div>

</div>


{% endblock %}