{% extends "base.html" %}
{% block content %}
<link href="/static/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/css/fixedColumns.bootstrap.min.css" rel="stylesheet">
<div class="row">
    <div class="nav-scroller bg-body shadow-sm">
        <nav class="nav nav-underline" aria-label="Secondary navigation">
            <a class="nav-link active" aria-current="page" href="#">
                <i class="bi-alarm" style="font-size: 1rem; color: cornflowerblue;"></i>Table</a>
            <a class="nav-link" href="#">
                Total
                <span class="badge bg-light text-dark rounded-pill align-text-bottom">571</span>
            </a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
        </nav>
    </div>
</div>
<div class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
        <img class="me-3" src="/static/img/person-circle.svg" alt="" width="48" height="38">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">Environmental Data</h1>
            <small>Since 2020</small>
        </div>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="tableExample" class="table display" style="transform-style:preserve-3d;">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>data_id</th>
                    <th>author_id</th>
                    <th>title</th>
                    <th>Created Date</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>latitude</th>
                    <th>longitude</th>
                    <th>Average noise level</th>
                    <th>Average light intensity</th>
                    <th>Wind direction</th>
                    <th>Wind speed (Beaufort scale)</th>
                    <th>Cloud cover</th>
                    <th>Cloud type</th>
                    <th>Photo of cloud conditions</th>
                    <th>Visibility</th>
                    <th>Traffic count</th>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Photo of you collecting data</th>
                    <th>Make a note of anything that</th>
                    <th>Air pollution (number of particl</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody id="myTable">
                {% for t in tData %}
                <tr>
                    <th><a class="nav-link" href="#"><i class="bi bi-eye">{{t.author_id}}</i></th>
                    <th>
                        {% if t[1] == session['user_id'] %}
                        <a class="nav-link" href="#"><i class="bi bi-pencil"></i>
                            {% else %}
                            <a class="nav-link disabled" href="#"><i class="bi bi-pencil"></i>
                                {% endif %}
                    </th>
                    <th>
                        {% if t[1] == session['user_id'] %}
                        <a class="nav-link" href="#"><i class="bi bi-trash"></i>
                            {% else %}
                            <a class="nav-link disabled" href="#"><i class="bi bi-trash"></i>
                                {% endif %}
                    </th>

                    <td>{{ t[0] }}</td>
                    <td>{{ t[1] }}</td>
                    <td>{{ t[2] }}</td>
                    <td>..</td>
                    <td>{{ t[4] }}</td>
                    <td>{{ t[5] }}</td>
                    <td>{{ t[6] }}</td>
                    <td>{{ t[7] }}</td>
                    <td>{{ t[8] }}</td>
                    <td>{{ t[9] }}</td>
                    <td>{{ t[10] }}</td>
                    <td>{{ t[11] }}</td>
                    <td>{{ t[12] }}</td>
                    <td>{{ t[13] }}</td>
                    <td>{{ t[14] }}</td>
                    <td>{{ t[15] }}</td>
                    <td>{{ t[16] }}</td>
                    <td>{{ t[17] }}</td>
                    <td>{{ t[18] }}</td>
                    <td>{{ t[19] }}</td>
                    <td>{{ t[20] }}</td>
                    <td>{{ t[21] }}</td>
                    <td>{{ t[22] }}</td>
                    <td>
                        <a href="/comment/{{t[0]}}" class="nav-link px-2">Link</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.fixedColumns.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#tableExample').DataTable({
            "pagingType": "full_numbers",
            "scrollY": "400px",
            "scrollX": true,
            scrollCollapse: true,
            paging: true,
            fixedColumns: {
                leftColumns: 5,
                rightColumns: 1
            }
        });

    });

</script>
{% endblock %}