{% extends "base.html" %}
{% block content %}
<link href="/static/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/css/fixedColumns.bootstrap.min.css" rel="stylesheet">

<div class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
        <img class="me-3" src="/static/images/table.svg" alt="" width="48" height="38">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">Environmental Data</h1>
            <small>Since 2020</small>
        </div>
    </div>
    <form action="/queryData" method="POST">
        <div class="row">
            <div class="col-lg-3">
                <label class="form-label">Select the title</label>
                <select class="form-select" aria-label="Default select example" name="dtitle" value="" required>
                    <option value="data_id">Data_id</option>
                    <option value="name">Name</option>
                    <option value="average_noise_level">Average noise level</option>
                    <option value="average_light_intensity">Average light intensity</option>
                    <option value="wind_direction">Wind direction</option>
                    <option value="wind_speed">Wind speed (Beaufort scale)</option>
                    <option value="cloud_cover">Cloud cover</option>
                    <option value="cloud_type">Cloud type</option>
                    <option value="visibility">Visibility</option>
                    <option value="traffic_count">Traffic count</option>
                    <option value="temperature">Temperature</option>
                    <option value="humidity">Humidity</option>
                    <option value="air_pollution">Air pollution (number of particl</option>
                </select>
                <div class="invalid-feedback">
                    visibility is required.
                </div>
            </div>
            <div class="col-lg-3">
                <label class="form-label">Select the condition</label>
                <select class="form-select" aria-label="Default select example" name="dcondition" value="" required>
                    <option value="="> = </option>
                    <option value=">"> > </option>
                    <option value="<">
                        < </option>
                </select>
                <div class="invalid-feedback">
                    visibility is required.
                </div>
            </div>
            <div class="col-lg-3">
                <label class="form-label">Select the parameter</label>
                <input type="text" class="form-control" name="dpara" placeholder="" required>
                <div class="invalid-feedback">
                    visibility is required.
                </div>
            </div>
            <div class="col-lg-3">
                <label class="form-label"></label>
                <div class=""><button class="w-100 btn btn-primary btn-lg" type="submit">Query</button></div>
            </div>
    </form>
</div>

<br/>

<div class="table-responsive">
    <table id="tableExample" class="table display" style="transform-style:preserve-3d;">
        <thead>
            <tr>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Data_id</th>
                <th>Author_id</th>
                <th>Created Date</th>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>latitude</th>
                <th>longitude</th>
                <th>Average noise level</th>
                <th>Average light intensity</th>
                <th>Wind direction</th>
                <th>Wind speed (Beaufort scale)</th>
                <th>Cloud cover</th>
                <th>Cloud type</th>
                <th>Photo of cloud conditions</th>
                <th>Visibility</th>
                <th>Traffic count</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Make a note of anything that</th>
                <th>Air pollution (number of particl</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for t in tData %}
            <tr>
                <th><a class="nav-link" href="/viewData/{{t[0]}}" data-bs-toggle="modal"
                        data-bs-target="#viewDataModal{{t[0]}}">
                        <i class="bi bi-eye"></i>
                </th>
                {% if t[1] == session['user_id'] %}
                <th>
                    <a class="nav-link" href="#"><i class="bi bi-pencil"></i>
                </th>
                <th>
                    <a class="nav-link" href="/deleteData/{{t[0]}}"><i class="bi bi-trash"></i>
                </th>
                {% else %}
                <th>
                    <a class="nav-link disabled" href="#"><i class="bi bi-pencil"></i>
                </th>
                <th>
                    <a class="nav-link disabled" href="#"><i class="bi bi-trash"></i>
                </th>
                {% endif %}


                <td>{{ t[0] }}</td>
                <td>{{ t[1] }}</td>
                <td>{{ t[2] }}</td>
                <td>{{ t[3] }}</td>
                <td>{{ t[4] }}</td>
                <td>{{ t[5] }}</td>
                <td>{{ t[6] }}</td>
                <td>{{ t[7] }}</td>
                <td>{{ t[8] }}</td>
                <td>{{ t[9] }}</td>
                <td>{{ t[10] }}</td>
                <td>{{ t[11] }}</td>
                <td>{{ t[12] }}</td>
                <td>{{ t[13] }}</td>
                <td>{{ t[14] }}</td>
                <td>{{ t[15] }}</td>
                <td>{{ t[16] }}</td>
                <td>{{ t[17] }}</td>
                <td>{{ t[18] }}</td>
                <td>{{ t[19] }}</td>
                <td>{{ t[20] }}</td>
                <td>
                    <a href="/comment/{{t[0]}}" class="nav-link px-2">View</a>
                </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="viewDataModal{{t[0]}}" tabindex="-1"
                aria-labelledby="viewDataModalLabel{{t[0]}}" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-fullscreen-md-down">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewDataModalLabel{{t[0]}}">Entry: {{t[0]}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid border border-dark">
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Question</div>
                                    <div class="col-lg-4 md-auto">Answer</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Name</div>
                                    <div class="col-lg-4 md-auto">{{t[3]}}</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Date</div>
                                    <div class="col-lg-4 md-auto">{{t[4]}}</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Time</div>
                                    <div class="col-lg-4 md-auto">{{t[5]}}</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">latitude</div>
                                    <div class="col-lg-4 md-auto">{{t[6]}}</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">longitude</div>
                                    <div class="col-lg-4 md-auto">{{t[7]}}</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Average noise level</div>
                                    <div class="col-lg-4 md-auto">{{t[8]}}</div>
                                </div>

                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Average light intensity</div>
                                    <div class="col-lg-4 md-auto">{{t[9]}}</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Wind direction</div>
                                    <div class="col-lg-4 md-auto">{{t[10]}}</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Wind speed (Beaufort scale)</div>
                                    <div class="col-lg-4 md-auto">{{t[11]}}</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8  border-end">Cloud cover</div>
                                    <div class="col-lg-4 md-auto">{{t[12]}}</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Cloud type</div>
                                    <div class="col-lg-4 md-auto">{{t[13]}}</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Visibility</div>
                                    <div class="col-lg-4 md-auto">{{t[15]}}</div>
                                </div>

                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Traffic count</div>
                                    <div class="col-lg-4 md-auto">{{t[16]}}</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Temperature</div>
                                    <div class="col-lg-4 md-auto">{{t[17]}}</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Humidity</div>
                                    <div class="col-lg-4 md-auto">{{t[18]}}</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Make a note of anything that</div>
                                    <div class="col-lg-4 md-auto">{{t[19]}}</div>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-lg-8 border-end">Air pollution (number of particl)</div>
                                    <div class="col-lg-4 md-auto">{{t[20]}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8 border-end">Comment</div>
                                    <div class="col-lg-4 md-auto"><a href="/comment/{{t[0]}}"
                                            class="nav-link px-2">View</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </tbody>
    </table>
</div>

<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.fixedColumns.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#tableExample').DataTable({
            "pagingType": "full_numbers",
            "scrollY": "400px",
            "scrollX": true,
            scrollCollapse: true,
            paging: true,
            fixedColumns: {
                leftColumns: 5,
                rightColumns: 1
            }
        });

    });

</script>
{% endblock %}