{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="/static/css/about.css">

<div class="container mt-4 mb-4">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">Section 1</button>

            <button class="nav-link profile" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Section 2</button>

            <button class="nav-link contact " id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Section 3</button>

            <button class="nav-link" id="nav-4-tab" data-bs-toggle="tab" data-bs-target="#nav-4" type="button"
                role="tab" aria-controls="nav-4" aria-selected="false">Section 4</button>

            <button class="nav-link" id="nav-5-tab" data-bs-toggle="tab" data-bs-target="#nav-5" type="button"
                role="tab" aria-controls="nav-5" aria-selected="false">Section 5</button>

            <button class="nav-link" id="nav-6-tab" data-bs-toggle="tab" data-bs-target="#nav-6" type="button"
                role="tab" aria-controls="nav-6" aria-selected="false">Section 6</button>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {% include 'about/tab-1.html' %}
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            {% include 'about/tab-2.html' %}
        </div>

        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            {% include 'about/tab-3.html' %}
        </div>

        <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
            {% include 'about/tab-4.html' %}
        </div>

        <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
            {% include 'about/tab-5.html' %}
        </div>
        <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-6-tab">
            {% include 'about/tab-6.html' %}
        </div>
    </div>
</div>
{% endblock %}