<div id="carouselExampleIndicators3" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="slider-img"
                src="https://www.clipartmax.com/png/middle/336-3367792_system-requirements-png-software-development-icon.png"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h4 class="text_h4"> Application Server </h4>
                <h6 class="text_h6">Data retrieval from EpiCollect5 and preprocessing
                </h6>
                <p class="text_p">Output:GeoPandas ,GeoDataFrame that contains the validated and cleaned data previously
                    retrieved from EpiCollect5.
                </p>
            </div>
        </div>

        <div class="carousel-item">
            <img class="slider-img"
                src="https://www.clipartmax.com/png/middle/336-3367792_system-requirements-png-software-development-icon.png"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h4 class="text_h4">Data import into PostgreSQL </h4>
                <p class="text_p">Output:PostgreSQL-PostGIS database table with varchar, numerical and geometry
                    attributes.
                </p>

            </div>
        </div>

        <div class="carousel-item">
            <img class="slider-img"
                src="https://www.clipartmax.com/png/middle/336-3367792_system-requirements-png-software-development-icon.png"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h4 class="text_h4">Mapping Tool </h4>
                <p class="text_p">“BootStrap Plotting Figure” class containing the interactive map ready to be displayed
                    in the web application.
                </p>

            </div>
        </div>

        <div class="carousel-item">
            <img class="slider-img"
                src="https://www.clipartmax.com/png/middle/336-3367792_system-requirements-png-software-development-icon.png"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h4 class="text_h4">Filtering Management </h4>
                <p class="text_p">The function returns a Pandas Boolean Series in which there are True values where the
                    measurement point is considered and False values where the data point is not needed.
                </p>

            </div>
        </div>

        <div class="carousel-item">
            <img class="slider-img"
                src="https://www.clipartmax.com/png/middle/336-3367792_system-requirements-png-software-development-icon.png"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h4 class="text_h4">Geospatial charts & Statistics
                </h4>
                <p class="text_p">Geospatial charts: it returns a matplotlib figure which is ready to be added to the
                    map.
                    Statistics: it returns a dictionary with all the available statistics as well as a matplotlib
                    histogram of the relevant data features.
                </p>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>