<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = true;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2e87b8bc5a4c47bf9f3022569e86ef7b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@master/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_2e87b8bc5a4c47bf9f3022569e86ef7b" ></div>
        
</body>
<script>    
    
            var map_2e87b8bc5a4c47bf9f3022569e86ef7b = L.map(
                "map_2e87b8bc5a4c47bf9f3022569e86ef7b",
                {
                    center: [-12.099268, -77.045183],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f438a98089444163a4a6cb9bb57e9eec = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2e87b8bc5a4c47bf9f3022569e86ef7b);
        
    
                var lat_lng_popup_10490f41122b45c88ef282690d0d68d4 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_10490f41122b45c88ef282690d0d68d4
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_2e87b8bc5a4c47bf9f3022569e86ef7b);
                    }
                map_2e87b8bc5a4c47bf9f3022569e86ef7b.on('click', latLngPop);
            
    
            var heat_map_d226268ac27d4427a2d2663000b5b15c = L.heatLayer(
                [[-12.099268, -77.045183, 68.0], [-12.099268, -77.045183, 71.0], [-12.095244, -77.044629, 75.0], [-12.095242, -77.044353, 84.0], [-12.095676, -77.044365, 72.0], [-12.095296, -77.044357, 82.0], [-12.095486, -77.044404, 80.0], [-12.095464, -77.044403, 83.0], [-12.095487, -77.04436, 79.0], [-12.095283, -77.044413, 83.0], [-12.095467, -77.044505, 74.0], [-12.095418, -77.044405, 83.0], [-12.095368, -77.044238, 73.0], [-12.095227, -77.044357, 75.0], [-12.095384, -77.044191, 75.0], [-12.095353, -77.044338, 83.0], [-12.110505, -77.034777, 72.0], [-12.110656, -77.034835, 68.0], [-12.082758, -76.962323, 68.0], [-12.082758, -76.962323, 64.0]],
                {"blur": 15, "maxZoom": 18, "minOpacity": 0.5, "radius": 25}
            ).addTo(map_2e87b8bc5a4c47bf9f3022569e86ef7b);
        
    
                var lat_lng_popup_c41d8e5ab3fc42e783bb2e0d0d79fa45 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_c41d8e5ab3fc42e783bb2e0d0d79fa45
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_2e87b8bc5a4c47bf9f3022569e86ef7b);
                    }
                map_2e87b8bc5a4c47bf9f3022569e86ef7b.on('click', latLngPop);
            
</script>