<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = true;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8f6a7e76c3f8449ab7f3f81395168760 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8f6a7e76c3f8449ab7f3f81395168760" ></div>
        
</body>
<script>    
    
            var map_8f6a7e76c3f8449ab7f3f81395168760 = L.map(
                "map_8f6a7e76c3f8449ab7f3f81395168760",
                {
                    center: [-12.099268, -77.045183],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_091810e0e5c3430ab1991256a6be1117 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8f6a7e76c3f8449ab7f3f81395168760);
        
    
                var lat_lng_popup_5f49220780664343aada40eb8a02e1a7 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_5f49220780664343aada40eb8a02e1a7
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_8f6a7e76c3f8449ab7f3f81395168760);
                    }
                map_8f6a7e76c3f8449ab7f3f81395168760.on('click', latLngPop);
            
    
            var poly_line_e8c98ac739814508affbaec635b29f9a = L.polyline(
                [[-12.095467, -77.044505]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_8f6a7e76c3f8449ab7f3f81395168760);
        
    
            var marker_f4e3e16c80f04f46a813593a0f5a6ea6 = L.marker(
                [-12.095467, -77.044505],
                {}
            ).addTo(map_8f6a7e76c3f8449ab7f3f81395168760);
        
    
        var popup_2114d6d2b1054e4887da77479719d1a9 = L.popup({"maxWidth": "100%"});

        
            var html_5af9bbe437e3426292969857456c1b71 = $(`<div id="html_5af9bbe437e3426292969857456c1b71" style="width: 100.0%; height: 100.0%;"><b>Starting Point</b></div>`)[0];
            popup_2114d6d2b1054e4887da77479719d1a9.setContent(html_5af9bbe437e3426292969857456c1b71);
        

        marker_f4e3e16c80f04f46a813593a0f5a6ea6.bindPopup(popup_2114d6d2b1054e4887da77479719d1a9)
        ;

        
    
    
            var marker_c83fd03b8e4347ecacc2a2ee1c49473f = L.marker(
                [-12.095467, -77.044505],
                {}
            ).addTo(map_8f6a7e76c3f8449ab7f3f81395168760);
        
    
        var popup_c6802bb97332474889b1a1c732c37710 = L.popup({"maxWidth": "100%"});

        
            var html_da937b2bd87a4ae0a9e2a69f7af38726 = $(`<div id="html_da937b2bd87a4ae0a9e2a69f7af38726" style="width: 100.0%; height: 100.0%;"><b>End Point</b></div>`)[0];
            popup_c6802bb97332474889b1a1c732c37710.setContent(html_da937b2bd87a4ae0a9e2a69f7af38726);
        

        marker_c83fd03b8e4347ecacc2a2ee1c49473f.bindPopup(popup_c6802bb97332474889b1a1c732c37710)
        ;

        
    
    
                var lat_lng_popup_1cf5ad66fc5c40beb8d9462c83afe820 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_1cf5ad66fc5c40beb8d9462c83afe820
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_8f6a7e76c3f8449ab7f3f81395168760);
                    }
                map_8f6a7e76c3f8449ab7f3f81395168760.on('click', latLngPop);
            
</script>