<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = true;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8dab4e37c5d441f29e2160bb0e7e83d0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8dab4e37c5d441f29e2160bb0e7e83d0" ></div>
        
</body>
<script>    
    
            var map_8dab4e37c5d441f29e2160bb0e7e83d0 = L.map(
                "map_8dab4e37c5d441f29e2160bb0e7e83d0",
                {
                    center: [-12.099268, -77.045183],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_758b42b230e948ea8c2f57a264a35721 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8dab4e37c5d441f29e2160bb0e7e83d0);
        
    
                var lat_lng_popup_50aefb1435764a759698d8a7c0dcb84e = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_50aefb1435764a759698d8a7c0dcb84e
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_8dab4e37c5d441f29e2160bb0e7e83d0);
                    }
                map_8dab4e37c5d441f29e2160bb0e7e83d0.on('click', latLngPop);
            
    
            var poly_line_c6a7b2101bf5495e81f695214a7e6154 = L.polyline(
                [[-12.099268, -77.045183], [-12.099268, -77.045183]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_8dab4e37c5d441f29e2160bb0e7e83d0);
        
    
            var marker_2b803d31bb1c4abfb6162344f473d7f8 = L.marker(
                [-12.099268, -77.045183],
                {}
            ).addTo(map_8dab4e37c5d441f29e2160bb0e7e83d0);
        
    
        var popup_9f8a1bf00d4842648ea7b179dbf8a66d = L.popup({"maxWidth": "100%"});

        
            var html_adfb53ad11e14eadac7e616c1888d248 = $(`<div id="html_adfb53ad11e14eadac7e616c1888d248" style="width: 100.0%; height: 100.0%;"><b>Starting Point</b></div>`)[0];
            popup_9f8a1bf00d4842648ea7b179dbf8a66d.setContent(html_adfb53ad11e14eadac7e616c1888d248);
        

        marker_2b803d31bb1c4abfb6162344f473d7f8.bindPopup(popup_9f8a1bf00d4842648ea7b179dbf8a66d)
        ;

        
    
    
            var marker_7d0e98316c7b450c96df60448f264b91 = L.marker(
                [-12.099268, -77.045183],
                {}
            ).addTo(map_8dab4e37c5d441f29e2160bb0e7e83d0);
        
    
        var popup_6d94ab9b4f68478e8c6feb70e6fb32fd = L.popup({"maxWidth": "100%"});

        
            var html_18f887efd03842d3b234aacb3a78da2f = $(`<div id="html_18f887efd03842d3b234aacb3a78da2f" style="width: 100.0%; height: 100.0%;"><b>End Point</b></div>`)[0];
            popup_6d94ab9b4f68478e8c6feb70e6fb32fd.setContent(html_18f887efd03842d3b234aacb3a78da2f);
        

        marker_7d0e98316c7b450c96df60448f264b91.bindPopup(popup_6d94ab9b4f68478e8c6feb70e6fb32fd)
        ;

        
    
    
                var lat_lng_popup_452e868d4b2244408dc415db6fffc023 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_452e868d4b2244408dc415db6fffc023
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_8dab4e37c5d441f29e2160bb0e7e83d0);
                    }
                map_8dab4e37c5d441f29e2160bb0e7e83d0.on('click', latLngPop);
            
</script>